.container {
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 45px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 3px 39px;
  background-color: var(--color-bg);
}

.title {
  color: var(--color-text);
  font-family: 'Nunito Sans', -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  text-align: center;
}

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-divider);
}

/* Responsive adjustments */
@media (min-width: 481px) {
  .container {
    margin-bottom: 60px;
  }
  
  .title {
    font-size: 24px;
  }
}
