.searchButtonContainer {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.searchContainer {
  display: flex;
  justify-content: center;
  padding: 40px 0 30px 0;
}
.searchActionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
