@import "tailwindcss";

body, h1, h2, h3, h4, h5, h6, p, span, li, a {
  font-family: "Inter Display", sans-serif;
}
body {
  /* background-color: #F7F7F7; */
  background-color: #F6F1E8;
  overflow-x: hidden;
}

/* Horizontal scrollbar ko hide karne ke liye */
.custom-scrollbar, .no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer aur Edge */
  scrollbar-width: none;     /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar, .no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari aur Opera */
}