.container {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  background-color: var(--color-bg);
  min-height: 100vh;
  position: relative;
}

.content {
  padding: 0 13px 20px 13px;
}

@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
  
  .content {
    padding: 0 40px 40px 40px;
  }
}

@media (min-width: 391px) and (max-width: 767px) {
  .container {
    max-width: 440px;
  }
}
