.container {
  background-color: #fcf9eb;
  max-width: 1300px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  height: 60px;
  padding: 0 20px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.iconContainer {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-self: center;
}

.jobbloIcon {
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-self: end;
}

button {
  padding: 6px;
  display: flex;
  border-radius: 6px;
  gap: 4px;
}
