.container {
  background-color: #fcf9eb;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.iconContainer {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-self: center;
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.notificationBadge {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 10px;
  height: 10px;
  background-color: #EA1717;
  border-radius: 50%;
  border: 1.5px solid #fcf9eb;
}

.jobbloIcon {
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-self: end;
  font-size: 14px;
  font-weight: 600;
}

.jobbloIcon svg {
  width: 100px;
  height: 32px; /* gjør logoen litt større */
}

button {
  padding: 6px;
  display: flex;
  border-radius: 6px;
  gap: 4px;
}

.iconWithLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  position: relative; 
}

.iconLabel {
  font-size: 12px;
  font-weight: 800;
  color: #555; /* mørk grå tekst */
  white-space: nowrap; /* hindrer at teksten brytes */
}

.iconWithLabel:hover .iconLabel {
  color: var(--color-primary); /* litt farge ved hover */
}

