.orangeBar {
  height: 36px;
  background-color: var(--color-primary);
  border-radius: 0 0 8px 8px;
}

.landingPageContent {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .landingPageContent {
    gap: 40px;
    padding-bottom: 40px;
  }
}
