.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: var(--color-bg-dark);
  color: var(--color-white);
  padding: 50px 0;
}

.title {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  padding: 0 0 10px 0;
}

a {
  color: white;
  font-weight: 200;
}
a:hover {
  color: #c4c4c4;
}

.company {
}

.knowMore {
}

.company,
.knowMore {
  display: flex;
  flex-direction: column;
}
