.container {
  padding: 20px 0 40px 0;
}

.sectionTitle {
  color: var(--color-text);
  font-family: 'Nunito', -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin: 0 0 20px 0;
}

.jobsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
  justify-items: center;
}

@media (max-width: 390px) {
  .jobsGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
