.container {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 0 0 0;
}

.backButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.backIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.backText {
  color: var(--color-text);
  font-family: 'Nunito', -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin-left: 3px;
}

/* Responsive adjustments */
@media (min-width: 481px) {
  .container {
    margin-bottom: 32px;
  }
  
  .backText {
    font-size: 18px;
  }
}
