.heroBackground {
  background-image: url("../../../assets/images/gardening.png");
  background-size: cover;
}

.heroOverlay {
  backdrop-filter: blur(2px) brightness(0.4);
  width: 100%;
}

.heroContainer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px;
  text-align: center;
  gap: 24px;
  max-width: 900px;
  margin: 0 auto;
}

.heroContainer * {
  margin: 0;
}

.heroTitle {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -1px;
}

.heroSubTitle {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.3;
}

.heroSubTitle span {
  font-weight: 700;
  color: var(--color-cta);
}

.heroButtonContainer {
  display: flex;
  gap: 20px;
}

.searchActionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.antSearchBar {
  /*opacity: 0.75;*/
}
