.categoriesContainer {
	width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.categoriesContainer h2 {
  margin: 0;
  padding: 0 20px;
}

.categoryContainer {
  display: flex;
  gap: 16px;
  padding: 20px;
  flex-wrap: nowrap;           /* én rad */
  justify-content: space-between;
  overflow-x: hidden;          /* ingen scroll */
}


.categoryContainer::-webkit-scrollbar {
  display: none;
}
.categoryCard {
  cursor: pointer;
  height: 140px;       /* fast høyde */
  flex: 1;             /* kortene tar like mye plass */
  max-width: 200px;    /* maks størrelse */
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
   background-image:
    linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0)),
}



.categoryCard:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.categoryCard.selected {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.categoryCardLabel {
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  text-align: center;
  padding: 4px 0;
  border-radius: 12px;
    font-size: 16px;
  font-weight: 700;
}
