.categoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  height: 70px;
  padding: 0 2px 6px 0;
  border-radius: 6px;
  justify-content: space-between;
  flex-shrink: 0;
  background: linear-gradient(
    120deg,
    var(--color-accent) 0%,
    rgba(24, 58, 29, 0.9) 100%
  );
  box-shadow: 0 10px 12px -6px rgba(0, 0, 0, 0.5);
}

.categoryContainer h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.categoryContainer h3,
.categoryContainer .categoryIcon {
  color: var(--color-bg);
}

.categoryIcon {
  font-size: 50px;
  font-variation-settings: "wght" 100;
}
