name: build_and_push_container

on:
  workflow_call:

permissions:
  id-token: write
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0
        with:
          versionSpec: '5.x'

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0
        with:
          useConfigFile: true

      - name: Set version tag in git
        run: |
          git tag ${{ steps.gitversion.outputs.fullSemVer }}
          git push origin ${{ steps.gitversion.outputs.fullSemVer }}

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Log in to ACR using Azure CLI
        run: |
          az acr login --name ${{ secrets.DOCKER_HOSTNAME }}

      - name: Docker build backend and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_HOSTNAME }}/jobblo/backend:${{ steps.gitversion.outputs.fullSemVer }}

      - name: Update Azure Container App
        run: |
          az containerapp update \
            --name jobblo-container-app \
            --resource-group jobblo-rg \
            --image ${{ secrets.DOCKER_HOSTNAME }}/jobblo/backend:${{ steps.gitversion.outputs.fullSemVer }}
