name: build_and_push_container

on:
  workflow_call:

permissions:
  id-token: write
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0
        with:
          versionSpec: '5.x'

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0
        with:
          useConfigFile: true

      - name: Tag commit
        run: |
          git tag ${{ steps.gitversion.outputs.fullSemVer }}
          git push origin ${{ steps.gitversion.outputs.fullSemVer }}
          git fetch

      - name: Log in to Azure via OIDC
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v2
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Build Docker image
        run: |
          docker build -f backend/Dockerfile . -t ${{ secrets.ACR_LOGIN_SERVER }}/jobblo/backend:${{ steps.gitversion.outputs.fullSemVer }}

      - name: Push Docker image
        run: |
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/jobblo/backend:${{ steps.gitversion.outputs.fullSemVer }}

      - name: Update Azure Container App
        run: |
          az containerapp update \
            --name jobblo-container-app \
            --resource-group jobblo-rg \
            --image ${{ secrets.ACR_LOGIN_SERVER }}/jobblo/backend:${{ steps.gitversion.outputs.fullSemVer }}
