name: CI

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  #call-run-tests:
   #uses: ./.github/workflows/run_tests.yml
    #secrets: inherit

  call-build-and-push-backend:
    #needs: call-run-tests
    #if: ${{ needs.call-run-tests.resdult == 'success' }}
    uses: ./.github/workflows/build_and_push_backend.yml
    secrets: inherit
